@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

:root {
    --lightGrey : #f7f1ed;
    --orangePink: #febeb0;
    --green : #3d5a5b;
    --blueViolet:#2f365f;
    --whiteColor : #fff;
    --black: #000;
    --fontText: 'Poppins', sans-serif;
    --fontTitle : 'Rubik', sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fontTitle);
}

h1 {
    font-size: 2.2em;
    font-family: var(--fontTitle);
    letter-spacing: 3px;
    color: var(--green);
    margin-bottom: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontText)
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


.header {
    display: flex;
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url('images/bg-hero4.jpg');
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: transparent;
    height: auto;
    padding: 20px 0;
}

.menu-wrap {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo {
    font-family: 'Petit Formal Script', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: var(--orangePink);
}

.sticky {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    background-color: var(--black);
    z-index: 1;
}


.menu {
    display: flex;
    align-items: center;
    width: 40%;
    height: 3rem;
}

.menu-list {
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.menu-list li {
    transition: all 0.3s;
    padding: 10px 20px;
    color: var(--whiteColor);
}

.menu-list li:hover {
    cursor: pointer;
    color: var(--lightGrey);
    background-color: var(--green);
    border-radius: 5px;
    padding: 10px 20px;
}

.hero {
    width: 100%;
    height: 70vh;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.hero-img {
    text-align: center;
    opacity: 0.5;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 40px;
}

.presentation {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.presentation-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hero-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.pres-title {
    margin-bottom: 30px;
}

.hero-text {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
    color: var(--blueViolet);
}

.hero-text span {
    color: var(--green);
    font-weight: bold;
    font-size: 1.5rem;
}

.techno {
    color: var(--green);
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px 0;
}

.cta {
    line-height: 2;
    text-align: center;
}

.cta button {
    width: 100%;
    font-family: var(--fontText);
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--blueViolet);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    padding: 15px;

}

.cta button:hover {
    cursor: pointer;
    background-color: antiquewhite;
    color: lightcoral;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin: 50px 0;
}

.about-wrap {
    padding: 30px;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-me img {
    margin-bottom: 20px;
}

.about-me p {
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 300;
    text-align: justify;
}

.main-wrap {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.realisation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
}

.link {
    min-width: 30%;
    margin: 10px;
}

.portofolio {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s;
}


.portofolio:hover{
    cursor: pointer;
    opacity: 0.5;
} 

.portofolio-title{
    text-align: center;
    background-color: var(--lightGrey);
    width: 100%;
    height: 100px;
    color: var(--blueViolet);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-portofolio {
    font-size: 2.1rem;
}

.show-title {
    opacity: 1;
}

.site1 {
    background-image: url('images/boulangerie.jfif');
    background-position: center center;
    background-size: cover;
}

.site2 {
    background-image: url('images/transport.webp');
    background-position: center center;
    background-size: cover;
}

.site3 {
    background-image: url('images/plombier.jpg');
    background-position: center center;
    background-size: cover;
}

.site4 {
    background-image: url('images/Restaurant.jpg');
    background-position: center center;
    background-size: cover;
}

.site5 {
    background-image: url('images/industrie.jpeg');
    background-position: center center;
    background-size: cover;
}

.site6 {
    background-image: url('images/agence.jpg');
    background-position: center center;
    background-size: cover;
}

footer {
    height: auto;
    background-color: var(--green);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-text {
    font-size: 1.4rem;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contact-wrap {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    line-height: 3;
    width: 100%;
    padding: 15px;
    margin: 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
}

input {
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid var(--orangePink);
    outline: none;
    padding: 10px;
    font-size: 1.1rem;
    font-family: var(--fontText);
    margin-bottom: 30px;
}

textarea {
    border-radius: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid var(--orangePink);
    outline: none;
    padding: 10px;
    font-size: 1.1rem;
    font-family: var(--fontText);
}

.contact-btn {
    text-align: center;
    margin: 50px;
}

.contact-btn input {
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 15px;
    background-color: lightcoral;
    border: none;
    border-radius: 30px;
    width: 80%;
    color: #ffffff;
}

.contact-btn input:hover {
    cursor: pointer;
    background-color: antiquewhite;
    color: lightcoral;
}

form {
    width: 80%;
}




/* ----------- RESPONSIVE DESIGN ----------- */
/*Important: Always put your media queries at the end of your CSS file.*/

/* Small devices (landscape phones, 576px and up) */

/* Mobile first --> min-width sinon maw-width */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    h1 {
        font-size: 2.8em;
    }

    .hero {
        width: 100%;
        height: 60vh;
    }

    .cta button {
        width: 100%;
    }

    .presentation {
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
        align-items: center;
    }
        
    .presentation-wrap {
        display: flex;
        flex-direction: row;
        width: 70%;
    }

    .pres-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-title {
        width: 80%;
    }

    .hero-text {
        text-align: center;
        font-size: 1.6rem;
    }
    
    .hero-text span {
        font-size: 1.8rem;
    }
    
    .techno {
        font-size: 1.8rem;
    }

    .about-wrap {
        display: flex;
        justify-content: center ;
    }

    .about-me {
        display: flex;
        flex-direction: row;
        width: 80%;
    }

    .about-me p {
        width: 50%;
        text-align: left;
    }

    .footer-text {
        font-size: 1.8rem;
    }
    
    .contact {
        width: 80%;
    }
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    h1 {
        font-size: 3.2em;
    }

    .hero {
        width: 100%;
        height: 100vh;
    }

    .cta button {
        width: 100%;
        font-size: 2.4rem;
        border-radius: 15px;
        color: #ffffff;
        padding: 20px 45px;
    }

    .presentation {
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
        align-items: center;
    }
        
    .presentation-wrap {
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .pres-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-title {
        width: 60%;
    }

    .hero-text {
        text-align: center;
        font-size: 1.8rem;
    }
    
    .hero-text span {
        font-size: 2.1rem;
    }
    
    .techno {
        font-size: 2.1rem;
    }

    .about-wrap {
        display: flex;
        justify-content: center ;
        border: 1px solid red;
    }

    .about-me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        border: 1px solid purple;
    }

    .about-me p {
        width: 50%;
        text-align: left;
        margin-left: 30px;
    }

    .footer-text {
        font-size: 1.8rem;
    }
    
    .contact {
        width: 60%;
    }

    .contact-btn input {
        height: 70px;
        font-family: 'Poppins', sans-serif;
        font-size: 2.1rem;
        margin: 15px;
        background-color: lightcoral;
        border-radius: 20px;
        width: 80%;
        color: #ffffff;
    }
}

