@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:ital,wght@0,300;0,400;1,300&family=Shadows+Into+Light&display=swap');

:root {
    --orange: #E85200;
    --beigeClair : #FAF8EA;
    --white: #fff;
    --black: #000;
    --vertJaune : #D9DA4F;
    --fontTitleH1 : 'Open Sans', sans-serif;
    --fontTitleh2 : 'Shadows Into Light', cursive;

}


/*
    h1, h2, h3, h4, h5, h6 {
        si on souhaite que tous les titres aient la même police
        ex: font-family: var(--fontTitle);
    }
    h1 {
        ex: font-size : 2.2rem --> tous les h1 auront cette taille
        margin-bottom : 10px;
    }
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1 {
    font-family: var(--fontTitleH1);
    font-size: 1.9rem;
}

h2 {
    font-family: var(--fontTitleh2);
    color: var(--orange);
    font-size: 1.3rem;
}

.white-btn {
    background-color: var(--white);
    border: none;
    padding: 20px;
    width: 100px;
    transition: all 0.3s;
}

.white-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.order-btn{
    background-color: var(--orange);
    color: var(--white);
    padding: 20px;
    transition: all 0.3s;
}

.order-btn:hover {
    background-color: var(--black);
}

.orange-btn {
    background-color: var(--orange);
    padding: 10px;
    border: none;
    transition: all 0.3s;
}

.orange-btn:hover {
    background-color: var(--black);
}

/* MOBILE MENU */
header {
    border: lpx solid blue solid blue;
    display: flex;
    justify-content: flex-end;
}

.mobile-menu {
    border: lpx solid blue solid red;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: none;
}

.logo {
    width: 30%;
}

.hamburger-menu {
    height: 50px;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url('images/bg1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 90%;
    height: 100vh;
}

.hero-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero-logo img {
    width: 300px;
}

.hero-title h1{
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.4;
}

.hero-sous-titre {
    display: flex;
    justify-content: center;
}

.hero-sous-titre h2 {
    color: var(--white);
    font-weight: 300;
    text-align: center;
    width: 70%;
    font-size: 1.4rem;
    margin-bottom: 40px;
}

.hero-btn {
    width: 100%;
}

.hero-btn button {
    width: 100%;
    font-family: var(--fontTitleH1);
    font-size: 1.2rem;
}

.hero-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.services {
    color: var(--white);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.services h3 {
    color: var(--orange);
    margin-bottom: 20px;
}

.services img {
    width: 50px;
}

.services p {
    text-align: center;
}

.main1 {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.main-title {
    margin-bottom: 30px;
}

.main-title h1, h2{
    text-align: center;
}

.main-text {
    text-align: center;
    line-height: 1.7;
}

.portrait {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.main2 {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url('images/bg2.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.main2-wrap {
    background-color: var(--white);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.main2-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 110px);
    grid-gap: 5px;
    margin: 20px 0;
    justify-content: center;
    width: 90%;
}

.main2-title {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-items {
    border-bottom: 1px solid var(--orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90px;
}

.grid-items p {
    text-align: center;
}

.main2-btn {
    width: 80%;
}


.main2-btn button {
    transition: background-color 0.3s;
    color: var(--white);
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
}

.main2-btn button:hover {
    background-color: lightsalmon;
}

.main3 {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.main3-wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main3-title {
    margin: 20px 0;
}

.traiteur {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.traiteur h3 {
    font-weight: bold;
}

.traiteur-item  {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.traiteur-item p {
    font-weight: 300;
}

.traiteur-item span {
    color: var(--orange);
    font-weight: bold;
}

.main3-btn {
    margin: 30px 0;
}

.main3-btn button {
    color: var(--white);
    height: 70px;
    font-weight: bold;
    font-size: 1.2rem;
}

.main4 {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url('images/bg3.jpg');
    background-position: center;
    background-size: cover;
    padding: 50px 0;
}

.main4 h1 {
    color: var(--white);
    text-align: center;
}

.main4-btn {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
}

.main4-btn button {
    color: var(--white);
    height: 60px;
    font-weight: bold;
    font-size: 1.2rem;
    width: 80%;
}

.main5 {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main5-wrap {
    border: 2px solid var(--orange);
    width: 70%;
    padding: 30px;
    margin-bottom: 50px;
}

.main5-wrap h3 {
    padding: 10px 0;
    border-bottom: 1px solid grey;
    width: 50%;
    margin-bottom: 30px;
}

.main5 h2 {
    letter-spacing: 3px;
    font-size: 2rem;
    color: var(--black);
    transition: all 0.3s;
}

.main5 h2:hover {
    color: var(--orange);
}

.main6 {
    background-image: linear-gradient(rgba(255, 69, 0, 0.8),rgba(255,69,0,0.8)) , url('images/map.jpg');
    background-position: center;
    background-size: cover;
}

.main6 {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.main6-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main6-wrap h1 {
    color: var(--white);
    font-weight: 500;
    margin: 20px 0;
}

.main6-wrap h2 {
    color: var(--white);
    font-weight: 500;
}

.main6-btn {
    width: 100%;
    margin: 70px 0;
}

.main6-btn button {
    width: 100%;
}

.main6-social {
    display: flex;
    align-items: center;
}

.main6-social img {
    width: 40px;
    margin-right: 10px;
}

.main6-adresse {
    margin: 50px 0;
    color: var(--white);
}

.main6-adresse h3{
    color: var(--vertJaune);
    margin-bottom: 30px;
}

footer {
    display: flex;
    justify-content: center;
}

.footer-wrap {
    width: 80%;
}

.footer-menu {
    display: flex;
    font-weight: bold;
    margin-bottom: 40px;
}

.footer-menu-item:hover {
    color: var(--orange);
}

.footer-bottom {
    margin: 20px 0;
    text-align: center;
}



/* ----------- RESPONSIVE DESIGN ----------- */
/*Important: Always put your media queries at the end of your CSS file.*/

/* Small devices (landscape phones, 576px and up) */

/* Mobile first --> min-width sinon maw-width */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}